{% extends 'base.html' %}
{%load static%}
{% block content %}
    <h1 id="sugg-title">Barcha izohlar</h1>
    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in comments %}
            <a href="" id="comm">
                <div id="comm-title">
                    <h2>{{ comment.name }}</h2>
                    <h5>{{ comment.date|date:"d.m.Y" }}</h5>
                </div>
                <div id="comm-msg">
                    <p>{{ comment.message }}</p>
                </div>
                <img src="../../static/images/user.png" />
            </a>
            {% empty %}
                <h1>Kamentariyalar mavjud emas</h1>
            {% endfor %}
            
        </div>
    </div>

{% endblock content %}

{% block style %}
    {% if request.COOKIES.dark_mode == 'true' %}
        <link id='style' rel='stylesheet' type='text/css' href='{% static 'css/all-comments-dark.css' %}'>
    {% elif request.COOKIES.dark_mode == 'false' %}
        <link id='style' rel='stylesheet' type='text/css' href='{% static 'css/all-comments.css' %}'>
    {% else %}
        <link id='style' rel='stylesheet' type='text/css' href='{% static 'css/all-comments.css' %}'>
    {% endif %}
{% endblock style %}
{% block script %}
    let darkStyle = "<link id='style' rel='stylesheet' type='text/css' href='{% static 'css/all-comments-dark.css' %}'>";
    let lightStyle = "<link id='style' rel='stylesheet' type='text/css' href='{% static 'css/all-comments.css' %}'>";

    let header = document.getElementById('hdr');

    // Function to remove existing style and add new style
    function setStyle(style) {
        let oldStyleElement = document.getElementById('style');
        if (oldStyleElement) {
            oldStyleElement.remove();
        }
        header.innerHTML += style;
    }
    
    function setCookie(name, value, hours) {
        var date = new Date();
        date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
        var expires = "expires=" + date.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        setStyle(darkStyle); // Apply dark mode style
        setCookie('dark_mode', 'true', 120); // Set cookie for dark mode
    } else {
        setStyle(lightStyle); // Apply light mode style
        setCookie('dark_mode', 'false', 120); // Set cookie for light mode
    }
    // Function to handle color scheme changes
    function handleColorSchemeChange(event) {
        if (event.matches) {
            setCookie('dark_mode', 'true', 120); // Set cookie for dark mode
            setStyle(darkStyle); // Apply dark mode style
        } else {
            setCookie('dark_mode', 'false', 120); // Set cookie for light mode
            setStyle(lightStyle); // Apply light mode style
        }
    }
    
    // Check if the browser supports matchMedia
    if (window.matchMedia) {
        // Listen for changes in the user's preferred color scheme
        const colorSchemeQuery = window.matchMedia('(prefers-color-scheme: dark)');
        // Call the handler initially
        handleColorSchemeChange(colorSchemeQuery);
        // Attach the handler to respond to future changes
        colorSchemeQuery.addEventListener('change', handleColorSchemeChange);
    }
{% endblock script %}
