{% extends 'base.html' %}
{%load static%}
{% block content %}
    <h1 id="sugg-title">Barcha izohlar</h1>
    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in comments %}
            <a href="" id="comm">
                <div id="comm-title">
                    <h2>{{ comment.name }}</h2>
                    <h5>{{ comment.date|date:"d.m.Y" }}</h5>
                </div>
                <div id="comm-msg">
                    <p>{{ comment.message }}</p>
                </div>
                <img src="../../static/images/user.png" />
            </a>
            {% empty %}
                <h1>Kamentariyalar mavjud emas</h1>
            {% endfor %}
            
        </div>
    </div>

{% endblock content %}

{% block script %}

    <script>
        let dark = '{% block styledark %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/all-comments-dark.css' %}"> {% endblock styledark %}">';
        let light = '{% block style %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/all-comments.css' %}"> {% endblock style %}">';
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.getElementById('hdr').innerHTML=dark;
        }else{
            document.getElementById('hdr').innerHTML=light;
        }
    </script>
{% endblock script %}