{% extends 'base.html' %}
{%load static%}
{% block content %}
    <section>
        <div id="articles-border">            
            <div id="articles">
                <!-- All Articles -->
                <div id="articles-list">
                    <!-- Add Delete -->
                    <div id="article-box">
                        <!--  -->
                        <div id="logo-name">
                            <img src="{{ post.operator.photo.url }}" />
                            <p>{{ post.operator.name }}</p>
                        </div>
                        <!--  -->
                        <div id="title-info">

                            <div>
                                <h3>{{ post.title }}</h3>
                            </div>
                            <p>{{ post.body | safe }}</p>
                        </div>

                        <div id="like-print">
                            <a id="likeButton" href="{% url 'like_post' post.slug %}" onclick="likePost('{{ post.slug }}')">♡ Foydali (<span id="likeCount">{{ post.likes }}</span>)</a>
                            <button id="likeButtonHidden" style="display: none;">♥ Foydali (<span id="likeCountHidden">{{ post.likes }}</span>)</button>
                            <button onclick="window.print(); return false;">☰ Chop qilish</button>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </section>

    <h1 id="sugg-title"><i class="fa fa-hand-o-right"></i>&nbspTavfsiya qilinganlar</h1>
    <div id="sugg-border">
        <div id="suggests">
            {% for similar_post in similar_posts %}
                <div id="sugg-box">
                <!--  -->
                <div id="sugg-logo-name">
                    <img src="{{ similar_post.operator.photo.url }}" alt="operator logo"/>
                    <p>{{ similar_post.operator.name }}</p>
                </div>
                <!--  -->
                <div id="sugg-title-info">
                    <div>
                        <h3>{{ similar_post.title }}</h3>
                    </div>
                    <div id="sugg-title-body">
                        {{ similar_post.body | truncatechars_html:150 | safe }}
                    </div>
                    <div id="sugg-arttic">
                        <a href="/?tag={{ post.tag }}">{{ similar_post.tag }}</a>
                        <a href="{% url 'post' similar_post.slug %}">Batafsil</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h1 id="izoh-title"><i class="fa fa-pencil-square"></i>&nbspIzohlar</h1>
    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in post.comment_set.all %}
            <div id="comm">
                <div id="comm-title">
                    <h2>{{ comment.name }}</h2>
                    <h5>{{ comment.date|date:"d.m.Y" }}</h5>
                </div>
                <div id="comm-msg">
                    <p>{{ comment.message }}</p>
                </div>
                <img src="../../static/images/user.png" />
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'comments' %}" id="all-comms">Barcha izohlar</a>
    </div>

    <div id="add-comment">
        <form action="{% url 'post' post.slug %}" method="post" id="reqform">
            {% csrf_token %}
            <h1><i class="fa fa-edit"></i>&nbspFikr bildirish</h1>
            <div id="name-surname">
                <input type="text" name="name" maxlength="27" placeholder="Ismingiz" required />
                <input type="email" name="email" maxlength="50" placeholder="Email manzilingiz" required />
            </div>
            <textarea name="commentary" required></textarea>
            <div id="form-bttns">
                <input type="submit" value="Yuborish" />
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script>
        let dark = '{% block styledark %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/article-more-dark.css' %}"> {% endblock styledark %}">';
        let light = '{% block style %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/article-more.css' %}"> {% endblock style %}">';

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.getElementById('hdr').innerHTML=dark;
        }else{
            document.getElementById('hdr').innerHTML=light;
        }
        function likePost(post_slug) {
            document.cookie = post_slug + "_is_liked=true; path=/";
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Check if the post is liked (you need to implement this logic)
            var isPostLiked = checkIfPostIsLiked('{{ post.slug }}');

            // Get the likeButton and likeButtonHidden elements
            var likeButton = document.getElementById("likeButton");
            var likeButtonHidden = document.getElementById("likeButtonHidden");

            // Show/hide the appropriate button based on whether the post is liked
            if (isPostLiked) {
                likeButton.style.display = "none";
                likeButtonHidden.style.display = "inline";
            } else {
                likeButton.style.display = "inline";
                likeButtonHidden.style.display = "none";
            }
        });
        function checkIfPostIsLiked(post_slug) {
            // Retrieve the value of the cookie
            var likedCookie = getCookie(post_slug + '_is_liked');

            // Check if the cookie exists and its value is "true"
            if (likedCookie && likedCookie === "true") {
                return true;
            } else {
                return false;
            }
        }

        // Function to get the value of a cookie by name
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();

                // Check if the cookie starts with the specified name
                if (cookie.indexOf(name) == 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }

            // Return null if the cookie is not found
            return null;
        }

    </script>
{% endblock script %}
