{% extends 'base.html' %}
{%load static%}
{% block content %}
    <section>
        <div id="articles-border">            
            <div id="articles">
                <!-- All Articles -->
                <div id="articles-list">
                    <!-- Add Delete -->
                    <div id="article-box">
                        <!--  -->
                        <div id="logo-name">
                            <img src="{{ post.operator.photo.url }}" />
                            <p>{{ post.operator.name }}</p>
                        </div>
                        <!--  -->
                        <div id="title-info">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.body }}</p>
                        </div>
                    </div>
                    
                </div>           
            </div>
        </div>
    </section>

    <h1 id="sugg-title">Tavfsiya qilinganlar</h1>
    <div id="sugg-border">
        <div id="suggests">
            <div id="sugg-box">
                <!--  -->
                <div id="sugg-logo-name">
                    <img src="{{ post.operator.photo.url }}" alt="operator logo"/>
                    <p>{{ post.operator.name }}</p>
                </div>
                <!--  -->
                <div id="sugg-title-info">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.body }}</p>
                    <div id="sugg-arttic">
                        <a href="/?tag={{ post.tag }}">{{ post.tag }}</a>
                        <a href="{% url 'post' post.slug %}">Batafsil</a>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>

    <h1 id="izoh-title">Izohlar</h1>
    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in post.comment_set.all %}
            <div id="comm">
                <div id="comm-title">
                    <h2>{{ comment.name }}</h2>
                    <h5>{{ comment.date|date:"d.m.Y" }}</h5>
                </div>
                <div id="comm-msg">
                    <p>{{ comment.message }}</p>
                </div>
                <img src="../../static/images/user.png" />
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'comments' %}" id="all-comms">Barcha izohlar</a>
    </div>

    <div id="add-comment">
        <form action="{% url 'post' post.slug %}" method="post" id="reqform">
            {% csrf_token %}
            <h1>Fikr bildirish</h1>
            <div id="name-surname">
                <input type="text" name="name" maxlength="27" placeholder="Ismingiz" required />
                <input type="email" name="email" maxlength="50" placeholder="Email manzilingiz" required />
            </div>
            <textarea name="commentary" required></textarea>
            <div id="form-bttns">
                <input type="submit" value="Yuborish" />
            </div>
        </form>
    </div>
{% endblock content %}
{% block style %}
<link rel="stylesheet" href="{%static 'css/article-more.css'%}">
{% endblock style %}