<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Live Chat</title>
</head>
<body id="chat-body">
    <div id="border-chat">
        <div id="operator-msg">
            <p>Hello Everyonesdsldfosfoskfsodfko</p>
        </div>
        <div id="user-msg">
            <p>Salom Hammaga</p>
        </div>
    </div>
    <form action="">
        <input type="text" placeholder="Yozing ...">
        <button class="fa fa-paper-plane-o"></button>
    </form>
</body>
</html>