@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Nunito:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

header{
    height: 150px;
    display: flex;
    align-items: top;
    justify-content: center;
    box-shadow: -5px 0 5px gray;
    background-color: white;
}

header a{
    display: flex;
    align-items: top;
    outline: none;
}

header a img{
    height: 120px;
    width: 700px;
    border-radius: 20px;
}

#sugg-title{
    margin-top: 20px;
    width: 100%;
    max-width: 1300px;
    align-self: center;
    padding: 0 40px;
}

#comments-border{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0 20px;
}

#comments{
    width: 100%;
    max-width: 1240px;
    box-shadow: 0 0 5px gray;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#comm{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    padding: 10px;
    color: black;
}

#comm:hover{
    box-shadow: 0 0 5px gray;
    transform: scale(1.02);
}

#comm-title{
    display: flex;
    align-items: center;
}

#comm-title h2{
    margin-right: 5px;
    font-size: 20px;
    max-width: 1150px;
    word-break: break-all;
}

#comm-title h5{
    color: gray;
}

#comm-msg{
    margin-top: 5px;
    display: flex;
}

#comm-msg p{
    word-break: break-all;
    max-width: 340px;
    max-height: 85px;
    overflow-y: hidden;
    margin-right: 10px;
}

#comm img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: solid 1px gray;
}

#add-comment{
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

#add-comment form{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px gray;
    width: 100%;
    background-color: white;
    max-width: 1240px;
    gap: 20px;
}

#add-comment form h1{
    font-size: 30px;
}

#name-surname{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

#name-surname input{
    width: 50%;
    padding: 10px;
    font-size: 15px;
}

#add-comment form textarea{
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    min-height: 300px;
}

#form-bttns input{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    border: solid 1px gray;
    cursor: pointer;
}

#form-bttns input:hover{
    background-color: royalblue;
    color: white;
    transition: 0.5s;
}

footer{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    height: 200px;
}

#foot{
    padding: 10px 20px;
    width: 1200px;
}