<!DOCTYPE html>
{% load static %}
<html lang="en">
<head id="hdr">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="author" content="USSD kodlar">
    <meta name="google-site-verification" content="example">

    <meta name="description" content="USSD kodlar">
    <meta name="keywords" content="ussd, ucell , beeline, mobiuz, humans, uzmobile, perfectum">
    <meta property="og:title" content="USSD kodlar">
    <meta property="og:description" content="USSD kodlar">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://example.uz">
    <meta property="og:site_name" content="Example.uz">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="example">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>USSD KODLAR</title>
    {% block style %}
    {% endblock style %}
    {% block styledark %}
    {% endblock styledark %}
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div id="foot">
            <h1>Footer Info</h1>
        </div>
    </footer>
    {% block script %}
    {% endblock script %}
</body>
</html>
