<!DOCTYPE html>
{% load static %}
<html lang="en">
<head id='hdr'>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="author" content="Uzmabil.uz">
    <meta name="google-site-verification" content="uzmabil.uz">

    <meta name="description" content="Uzmabil.uz">
    <meta name="keywords" content="ussd, ucell , beeline, mobiuz, humans, uzmobile, perfectum">
    <meta property="og:title" content="Uzmabil.uz">
    <meta property="og:description" content="Uzmabil.uz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://uzmabil.uz">
    <meta property="og:site_name" content="uzmabil.uz">
    <meta name="csrf-param" content="_csrf">
    <meta name="google-site-verification" content="_XQniNKqRa1OOOwnvdVPK-ebmGP-BSVjHFdZhK-wHPE" />
    <meta name="google-site-verification" content="Y_pU7AJXQYxyyjPwV0ALOD65ZFBBR-EEhnoxET4UbGs" />
    {% block style %}
    {% endblock style %}
    <style>
        .sw2-btn{
            width: 45%;
            margin-right: 5px;
        }
        .sw2-btn:hover{
            border: 1px #08ff00 solid;
            border-radius: 5px;
        }
    </style>
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Uzmabil.uz</title>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script>
        {% block script %}
        {% endblock script %}
    </script>
</head>
<body>
    <header>
        <a href="{% url 'pages:home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
    </header>
    {% block content %}
    {% endblock content %}
</body>
{% if not request.COOKIES.show_modal %}
    <script>
        function setCookie(name, value, hours) {
            var date = new Date();
            date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
            var expires = "expires=" + date.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }

        setCookie('show_modal', 'true', 1);
        // reklama chiqish vaqti 1 soat

        let PlayStoreUrl="";
        let AppStoreUrl="";
        let timer=5;
        Swal.fire({
            html: `
           <div style="background-image: url('{% static 'images/advertising.png' %}'); background-size: cover; height: 90vh; position: relative;">
               <div style="position: absolute; bottom: 10px; left: 10px; text-align: left;">
                <a href="${PlayStoreUrl}" target="_blank">
                  <img class="sw2-btn" src="{% static 'images/PlayStore.png' %}" alt="Play Market">
                </a>
                <a href="${AppStoreUrl}" target="_blank">
                  <img class="sw2-btn" src="{% static 'images/AppStore.png' %}" alt="App Store">
                </a>
              </div>
            </div>
            `,
            width: "350x",
            background: "blue",
            showCloseButton: true,
            showConfirmButton: false,
        });

        setTimeout(function() {
          Swal.close();
        }, timer*1000);
    </script>
{% endif %}
</html>
