<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <script src="{% static 'js/script.js' %}"></script>#}
    <title>USSD KODLAR</title>
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    
    {% endblock style %}
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div id="foot">
            <h1>Footer Info</h1>
        </div>
    </footer>
    {% block script %}
    {% endblock script %}
</body>
</html>