{% extends 'base.html' %}
{% block content %}
    <section>

        <!--  -->
        <form action="" id="search">
            <input type="text" name="q" placeholder="🔍 Nimani qidirmoqchisiz ?" />
            <button id="search-button" class="fa fa-search"></button>
        </form>

        <!-- Operators -->
        <div id="oper-border">
            <div id="operators">
                <div id="operators-title">
                    <h3>Aloqa operatorlari</h3>
                </div>
                <div id="operators-list">
                    <!-- Operator Boxs -->
                    {% for operator in operators %}
                        <a href="/?com={{ operator.name }}">
                            <div id="operator-box" onclick="FilterOperator()">
                                <img src="{{ operator.photo.url }}"  alt="operator logo"/>
                                <h4>{{ operator.name }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <h1>Operatorlar mavjud emas</h1>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Advertise Field (Blank) -->
        <div id="ads">
            <!-- Reklama uchun joy -->
        </div>

        <!-- Maqolalar -->
        <div id="articles-border">
            <div id="articles">
                <!-- Article Title -->
                <div id="articles-title">
                    <h3>So'nggi Maqolalar</h3>
                </div>
                <!-- All Articles -->
                <div id="articles-list">
                    <!-- Add Delete -->
                    {% for post in posts %}
                        <div id="article-box" onclick="MoreBtnIn({% url 'post' post.slug %})">
                            <!--  -->
                            <div id="logo-name">
                                <img src="{{ post.operator.photo.url }}" alt="operator logo"/>
                                <p>{{ post.operator.name }}</p>
                            </div>
                            <!--  -->
                            <div id="title-info">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.body }}</p>
                                <a href="/?tag={{ post.tag }}">{{ post.tag }}</a>
                            </div>
                        </div>
                    {% empty %}
                        <h1>Maqolalar mavjud emas</h1>
                    {% endfor %}
                </div>           
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>
                
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <!-- Additional Functions -->
        <div id="additional">
            <!-- Message Box -->
            <div id="message-box">
                <div id="contact-list">
                    <div id="fbb" onclick="TelegramBtn()"><i class="fa fa-paper-plane"></i>Telegram</div>
                    <div id="a" onclick="StartChat()"><i class="fa fa-comments"></i>Send Message</div>
                </div>
                <div id="message-hr" onclick="ShowDisplay()"></div>
            </div>

            <!-- Pop-Up Contact Us -->
            <div id="pop-contact">
                <div id="pop-title">
                    <p onclick="ExitBtn()" id="pop-exit">X</p>
                    <a href="/" id="fullscreen" class="fa fa-external-link"></a>
                </div>
                <div id="live-chat">
                    <div id="operatorr">
                        <p>Hello World ! This is my world is big for green</p>
                    </div>
                    <div id="userr">
                        <p id="ozgr">Hello Everyone saodkoidjfgiojiogdfjgidjgodfjgiofdgjdfiogj iofdjiog jdiofjgiodfjgiofdjgdfijgoidj ddioj iodfjoigjdfiogjdfiogjdio iodfjgoidfjgoidfgjiof iofdjoigjdiofgjdfigdfjgodjfgioj iodfjiogjdfiogjdfoigjdfjngjkdfngjkdfgndfjkgnfdjkgndfjkgndfgjkdfngdjfngkjfdngjkdfgnfdjknasdokasodka oaksod kaso kdaso kaos kdasokxoskvokokdoksodfksfoksdfsd dsf sdf sdf dsf dsfsdfdsfdsfs f ds fsd f sdfsdfsdfsd!</p>
                    </div>
                </div>
                <form action="" autocomplete="off">
                    <input id="chat-send" type="text" placeholder="Yoz ..." />
                    <button class="fa fa-paper-plane-o" id="sender"></button>
                </form>
            </div>
                        <!-- Pop-Up Poll Result -->
            <div id="pop-poll-result">
                <div id="names">
                    <h3>Ucell</h3>
                    <div class="ucell" role="progressbar" style="width: 40%; background: #000;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>Beeline</h3>
                    <div class="beeline" role="progressbar" style="width: 20%; background: #000;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>MOBIUZ</h3>
                    <div class="mobiuz" role="progressbar" style="width: 30%; background: #000;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>Uzmobile</h3>
                    <div class="uzmobile" role="progressbar" style="width: 70%; background: #000;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>Perfectum</h3>
                    <div class="perfectum" role="progressbar" style="width: 50%; background: #000;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>HUMANS</h3>
                    <div class="humans" role="progressbar" style="width: 25%; background: #000;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <h3>Boshqa&nbsp/&nbspRouming</h3>
                    <div class="other" role="progressbar" style="width: 85%; background: #000;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    <br>
                    <h3>Ovoz berganlar : <span>99</span></h3>
                </div>
            </div>
        </div>
    </section>

    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in comments %}
                <div id="comm">
                    <h2>{{ comment.name }}</h2>
                    <p>{{ comment.message }}</p>
                </div>
            {% empty %}
                <h1>Kamentariya mavjud emas</h1>
            {% endfor %}
        </div>
        <a href="{% url 'comments' %}">Barcha izohlar</a>
    </div>

    <div id="operator-poll-border">
        <!-- Poll -->
        <form action="{% url 'home' %}" id="operator-poll" method="POST">
            {% csrf_token %}
            <label for="operator-poll">Qaysi operatordan foydalanasiz ?</label>
            {% for operator in operators %}
                <div>
                    <input type="radio" name="oper" id="ucell-o" value="{{ operator.pk }}"/>
                    <label for="ucell-o">&nbsp{{ operator.name }}</label>
                </div>
            {% endfor %}
            <input type="submit" id="submit-o" value="Ovoz berish" />
            <input type="button" id="result-o" value="Natija" onclick="PollResults()" />
        </form>
    </div>

{% endblock content %}

{% block script %}
    function MoreBtnIn(url){
        window.open(url, "_self");
    }
{% endblock script %}
