{% extends 'base.html' %}
{% load poll_extras %}
{% load static %}
{% block content %}
    <section>

        <!--  -->
        <form action="" id="search">
            <input type="text" name="search" placeholder="🔍 {{ 'Nimani qidirmoqchisiz'|trans_text:LANGUAGE_CODE }} ?" />
            <button id="search-button" class="fa fa-search"></button>
        </form>

        <!-- Operators -->
        <div id="oper-border">
            <div id="operators">
                <div id="operators-title">
                    <h3><i class="fa fa-headphones"></i>&nbsp{{ 'Aloqa operatorlari'|trans_text:LANGUAGE_CODE }}</h3>
                </div>
                <div id="operators-list">
                    <!-- Operator Boxs -->
                    {% for operator in operators %}
                        <a id="operator-box" href="/?com={{ operator.name }}" style="border: solid 4px {{ operator.color_column }};">
                            <img src="{{ operator.photo.url }}"  alt="operator logo" />
                            <h4>{{ operator.name }}</h4>
                        </a>
                    {% empty %}
                        <h1>{{ 'Operatorlar mavjud emas'|trans_text:LANGUAGE_CODE }}</h1>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Advertise Field (Blank) -->
        <div id="ads">
            <!-- Reklama uchun joy -->
        </div>

        <!-- Maqolalar -->
        <div id="articles-border">
            <div id="articles">
                <!-- Article Title -->
                <div id="articles-title">
                    <h3><i class="fa fa-refresh"></i></i>&nbsp{{ 'So`nggi Maqolalar'|trans_text:LANGUAGE_CODE }}</h3>
                </div>
                <!-- All Articles -->
                <div id="articles-list">
                    <!-- Add Delete -->
                    {% for post in posts %}
                        <div id="article-box">
                            <!--  -->
                            <div id="logo-name">
                                <img src="{{ post.operator.photo.url }}" alt="operator logo"/>
                                <p>{{ post.operator.name }}</p>
                            </div>
                            <!--  -->
                            <div id="title-info">
                                <div>
                                    <h3>{{ post.title|trans_text:LANGUAGE_CODE }}</h3>
                                </div>
                                <p>{{ post.body|truncatechars_html:50|safe|trans_html:LANGUAGE_CODE|safe }}</p>
                                <div id="arttic">
                                    <a href="/?tag={{ post.tag }}">{{ post.tag }}</a>
                                    <a href="{% url 'pages:post' post.slug %}">{{ 'Batafsil'|trans_text:LANGUAGE_CODE}}</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h1>{{ 'Maqolalar mavjud emas'|trans_text:LANGUAGE_CODE}}</h1>
                    {% endfor %}
                </div>           
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page=1">&laquo;</a>
                            <a href="?page={{ posts.previous_page_number }}">&#8249;</a>
                        {% endif %}
                
                        <span class="current">
                            <h1>{{ posts.number }}</h1> 
                        </span>
                
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">&#8250;</a>
                            <a href="?page={{ posts.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </section>

    <div id="comments-border">
        <div id="comments">
            <!-- Comments -->
            {% for comment in comments %}
                <div id="comm">
                    <div id="comm-title">
                        <h2>{{ comment.name }}</h2>
                        <h5>{{ comment.date|date:"d.m.Y" }}</h5>
                    </div>
                    <div id="comm-msg">
                        <p>{{ comment.message }}</p>
                    </div>
                    <img src="../static/images/user.png" />
                </div>
            {% empty %}
                <h1>{{ 'Kamentariya mavjud emas'|trans_text:LANGUAGE_CODE}}</h1>
            {% endfor %}
        </div>
        <a href="{% url 'pages:comments' %}" id="all-comms">{{ 'Barcha izohlar'|trans_text:LANGUAGE_CODE}}</a>
    </div>

    <div id="operator-poll-border">
        <!-- Poll -->
        <form action="{% url 'pages:home' %}" id="operator-poll" method="POST">
            {% csrf_token %}
            <label for="operator-poll">{{ 'Qaysi operatordan foydalanasiz'|trans_text:LANGUAGE_CODE}} ?</label>
            {% for operator in operators %}
                <div>
                    <input type="radio" name="oper" id="{{ operator.name }}-o" value="{{ operator.pk }}"/>
                    <label for="{{ operator.name }}-o">&nbsp{{ operator.name }}</label>
                </div>
            {% endfor %}
            <input type="submit" id="submit-o" value="{{ 'Ovoz berish'|trans_text:LANGUAGE_CODE}}" />
            <input type="button" id="result-o" value="{{ 'Natija'|trans_text:LANGUAGE_CODE}}" onclick="PollResults()" />
        </form>

        <!-- Pop-Up Poll Result -->
            <div id="pop-poll-result">
                <div id="names">
                    {% for operator in operators %}
                        <h3>{{ operator.name }} - {{ operator.votes }} ({{ operator.percentage }}%)</h3>
                        <div style="border: solid 1px {{ operator.color_column }}; width: 100%;">
                            <div class="ucell" role="progressbar" style="width: {{ operator.percentage }}%; height: 9px; background:  {{ operator.color_column }};" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endfor %}
                    <br>
                    <h3>{{ 'Ovoz berganlar'|trans_text:LANGUAGE_CODE}} : <span>{{ total_votes }}</span></h3>
                </div>
            </div>
    </div>
        {% if vote %}
            <script>
                PollResults()
            </script>
        {% elif request.COOKIES.vote == 'true' %}
            <script>
                PollResults()
            </script>
        {% endif %}


<script>
    let dark = '{% block styledark %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/style-dark.css' %}"> {% endblock styledark %}">';
    let light = '{% block style %} <link id="style" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endblock style %}">';
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.getElementById('hdr').innerHTML=dark;
    }else{
        document.getElementById('hdr').innerHTML=light;
    }
</script>
{% endblock content %}